%tr{data: {account_name: account_history.account_name}, title: account_history.explanation, class: (highlight_history == account_history.id) ? 'highlight' : ''}
  %td= account_history.account_name
  %td= account_history.display_amount
