%tr{data: {account_name: account_history.account_name}, title: account_history.explanation, class: account_history.row_highlight_class(highlight_history)}
  %td= account_history.account_name
  %td.cell-collapse= account_history.display_amount
