%form#form1
  %input#field1{value: '82', type: 'text'}
  %input#field2{value: '41', type: 'text'}
  %input#checkbox1{type: 'checkbox', value: '1', checked: 'checked'}
  %input#checkbox2{type: 'checkbox', value: '1'}
  %select#select
    %option{value: ''} The First Option
    %option{value: 72, selected: 'selected'} The Second Option
    %option{value: 'Other'} Something Else Here
  %textarea#text1
    Some textarea content here
%form#form2
  %input#field3{value: "Bob's Rafts", type: 'text'}
  %input#checkbox3{type: 'checkbox', value: '1', checked: 'checked'}
