#new-account-header.accordion-header
#new-account-content.accordion-content
#account1-header.js-account.accordion-header{data: {account_id: 15}}
#account1-content.js-account-content.accordion-header
#account2-header.js-account.accordion-header{data: {account_id: 9}}
#account2-content.js-account-content.accordion-header
