.js-account-accordion
  #new-account-header.accordion-header New Header
  #new-account-content.accordion-content New Content
  #account1-header.js-account.accordion-header{data: {account_id: 15, priority: 7, enabled: true, sort_weight: "10748973"}}
  #account1-content.js-account-content.accordion-content
  #account2-header.js-account.accordion-header{data: {account_id: 9, priority: 3, enabled: true, sort_weight: "1035200"}}
  #account2-content.js-account-content.accordion-content
  #account3-header.js-account.accordion-header{data: {account_id: 50, priority: 3, enabled: true, sort_weight: "10349521"}}
  #account3-content.js-account-content.accordion-content
  #account4-header.js-account.accordion-header{data: {account_id: 12, priority: 9, enabled: false, sort_weight: "0094891"}}
  #account4-content.js-account-content.accordion-content
  #account5-header.js-account.accordion-header{data: {account_id: 29, priority: 8, enabled: false, sort_weight: "00899999999"}}
  #account5-content.js-account-content.accordion-content
