.js-account-accordion
  #new-account-header.accordion-header
  #new-account-content.accordion-content
  #account1-header.js-account.accordion-header{data: {account_id: 15, priority: 7, enabled: true}}
  #account1-content.js-account-content.accordion-content
  #account2-header.js-account.accordion-header{data: {account_id: 9, priority: 3, enabled: true}}
  #account2-content.js-account-content.accordion-content
  #account3-header.js-account.accordion-header{data: {account_id: 50, priority: 3, enabled: true}}
  #account3-content.js-account-content.accordion-content
  #account4-header.js-account.accordion-header{data: {account_id: 12, priority: 9, enabled: false}}
  #account4-content.js-account-content.accordion-content
  #account5-header.js-account.accordion-header{data: {account_id: 29, priority: 8, enabled: false}}
  #account5-content.js-account-content.accordion-content
