.content
  .box
    .box-content
      %h1 New Income Amount

      = form_for @income, format: 'json', remote: true, html: {class: 'js-new-income'} do |f|
        %ul.fields
          = render partial: 'incomes/form', locals: {f: f}

          %li
            %label
            = f.submit "Distribute Funds", class: 'btn btn-green btn-mobile', data: {disable_with: "Saving..."}
.sidebar
  .sidebar-content.box
