$base-font-size: 16px;
@function em($target, $context: $base-font-size){
  @if $target == 0 {@return 0};
  @return $target / $context + 0em;
}

$app-font-family: 'Arimo', sans-serif;
$app-font-size: 1em;

$grid: show;

$breakpoint-to-ems: true;
$app-xxl: 80% 24 1/4 $grid;

$bp-app-xl: max-width 1365px;
$app-xl: 80% 24 1/4 $grid;

$bp-app-large: max-width 1177px;
$app-large: 80% 24 1/4 $grid;

$bp-app-medium-large: max-width 920px;
$app-medium-large: 80% 24 1/4 $grid;

$bp-app-medium: max-width 869px;
$app-medium: 90% 16 1/4 $grid;

@include border-box-sizing;
@import "./colors";
@import "./fonts";


