a{
  color: darkgreen;
  &:hover{
    color: $green;
  }
}

body{
  font-size: $app-font-size;
  font-family: $app-font-family;
}

input{
  font-family: inherit;
}

p{
  margin-bottom: 6px;

  &:last-child{
    margin-bottom: 0;
  }
}

h1{
  width: 100%;
  float: left;
  font-weight: bold;
  font-size: em(18px, 14px);
  margin-bottom: em(10px, 14px);
}

h4{
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 4px;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.break-small{
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

.text-right{
  text-align: right;
}

.no-padding{
  padding: 0;
}

.no-bullets{
  list-style-type: none;
}

.text-center{
  text-align: center;
}

.text-small{
  font-size: em(10px, 14px);
  line-height: em(14px, 10px);
}

.clickable{
  cursor: pointer;
}

.break{
  @include break;
}
