$base-font-size: 16px;
@function em($target, $context: $base-font-size){
  @if $target == 0 {@return 0};
  @return $target / $context + 0em;
}

$app-font-family: 'Arimo', sans-serif;
$app-font-size: 1em;

$grid: show;

$breakpoint-to-ems: true;
$app-xxl: em(1200px) 24 1/4 $grid;

$bp-app-xl: max-width 1280px;
$app-xl: em(960px) 24 1/4 $grid;

$bp-app-large: max-width 1030px;
$app-large: em(780px) 24 1/4 $grid;

@include border-box-sizing;
@import "./colors";
@import "./fonts";


