.btn{
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: em(5px, 14px) em(16px, 14px) em(6px, 14px);
  font-weight: bold;
  @include text-shadow(0 1px 1px rgba(0, 0, 0, .3));
  @include border-radius(0.5em);
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));

  &:active{
    position: relative;
    top: 1px;
  }
}

.btn-green{
  color: $light-on-dark;
  border: solid 1px #538312;
  @include background-image(linear-gradient(top, $header-gradient-start, $header-gradient-end));

  &:hover{
    @include background-image(linear-gradient(top, #407544, #004504));
  }
  &:active{
    @include background-image(linear-gradient(top, $header-gradient-end, $header-gradient-start));
  }
}

.btn-blue{
  color: $light-blue-on-dark;
  border: solid 1px #0076a3;
  @include background-image(linear-gradient(top, $action-gradient-start, $action-gradient-end));

  &:hover{
    @include background-image(linear-gradient(top, $action-hover-gradient-start, $action-hover-gradient-end));
  }

  &:active{
    @include background-image(linear-gradient(top, $action-gradient-end, $action-gradient-start));
    /*color: #80bed6;*/
  }
}

.btn-orange{
  color: $light-orange-on-dark;
  border: solid 1px #da7c0c;
  @include background-image(linear-gradient(top, $danger-gradient-start, $danger-gradient-end));

  &:hover{
    @include background-image(linear-gradient(top, $danger-hover-gradient-start, $danger-hover-gradient-end));
  }

  &:active{
    @include background-image(linear-gradient(top, $danger-gradient-end, $danger-gradient-start));
    /*color: #fcd3a5;*/
  }
}

.btn-red{
  color: $light-on-dark;
  border: solid 1px #992323;
  @include background-image(linear-gradient(top, $error-gradient-start, $error-gradient-end));

  &:hover{
    @include background-image(linear-gradient(top, $error-hover-gradient-start, $error-hover-gradient-end));
  }

  &:active{
    @include background-image(linear-gradient(top, $error-gradient-end, $error-gradient-start));
  }
}
