@mixin btn-base{
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  font-weight: bold;
  position: relative;
  @include text-shadow(0 1px 1px rgba(0, 0, 0, .3));

  &:active{
    top: 1px;
  }
}

.btn{
  @include btn-base;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));
  padding: em(5px, 14px) em(16px, 14px) em(6px, 14px);
  @include border-radius(0.5em);
}

.btn-pad-less{
  padding: em(4px, 14px) em(9px, 14px) em(5px, 14px);
}



.btn-green{
  color: $light-on-dark;
  border: solid 1px #538312;
  @include background-image(linear-gradient(top, $header-gradient-start, $header-gradient-end));

  &:hover{
    color: $light-on-dark;
    @include background-image(linear-gradient(top, #407544, #004504));
  }
  &:active{
    @include background-image(linear-gradient(top, $header-gradient-end, $header-gradient-start));
  }
}

.nav-back{
  @extend .btn;
  @extend .btn-green;
  padding: em(5px, 14px) em(9px, 14px) em(5px, 14px) em(17px, 14px);
  position: relative;

  &:before{
    content: "\00ab";
    position: absolute;
    left: em(5px, 14px);
  }
}

.btn-blue{
  color: $light-blue-on-dark;
  border: solid 1px #0076a3;
  @include background-image(linear-gradient(top, $action-gradient-start, $action-gradient-end));

  &:hover{
    color: $light-blue-on-dark;
    @include background-image(linear-gradient(top, $action-hover-gradient-start, $action-hover-gradient-end));
  }

  &:active{
    @include background-image(linear-gradient(top, $action-gradient-end, $action-gradient-start));
    /*color: #80bed6;*/
  }
}

.btn-orange{
  color: $light-orange-on-dark;
  border: solid 1px #da7c0c;
  @include background-image(linear-gradient(top, $danger-gradient-start, $danger-gradient-end));

  &:hover{
    color: $light-orange-on-dark;
    @include background-image(linear-gradient(top, $danger-hover-gradient-start, $danger-hover-gradient-end));
  }

  &:active{
    @include background-image(linear-gradient(top, $danger-gradient-end, $danger-gradient-start));
    /*color: #fcd3a5;*/
  }
}

.btn-red{
  color: $light-on-dark;
  border: solid 1px #992323;
  @include background-image(linear-gradient(top, $error-gradient-start, $error-gradient-end));

  &:hover{
    color: $light-on-dark;
    @include background-image(linear-gradient(top, $error-hover-gradient-start, $error-hover-gradient-end));
  }

  &:active{
    @include background-image(linear-gradient(top, $error-gradient-end, $error-gradient-start));
  }
}

.btn.disabled, .btn-disabled{
  background-image: none;
  background-color: #bbb;
  color: #000000;
  cursor: default;
  border: 1px solid #666666;
}

// Only happens on a disabled-with remote click...
.btn.disabled.pagination{
  color: #bbb;
  background-image: image_url('preloader.gif');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
