//.accordion-header{
//  background-color: #c9de96; // Old browsers
//  @include filter-gradient(#c9de96, #147f0c, vertical); // IE6-9
//  @include background-image(linear-gradient(top, #c9de96 0%,#75b548 0%,#438e25 40%,#147f0c 100%));
//  padding: 7px 15px;
//  font-weight: bold;
//  color: #FFFFFF;
//  border: 1px solid #000000;
//  @include border-radius(4px);
//}
//

// .accordion-header{
//   background-color: $header-gradient-end;
//   @include background-image(linear-gradient($header-gradient-start, $header-gradient-end));

//   &.ui-state-active{
//     background-color: $content-gradient-end;
//     @include background-image(linear-gradient($content-gradient-start, $content-gradient-end));
//     border-bottom-style: none;
//   }

//   &.ui-state-hover, &.ui-state-focus{
//     &:not(.ui-state-active){
//       background-color: $header-hover-gradient-end;
//       @include background-image(linear-gradient($header-hover-gradient-start, $header-hover-gradient-end));
//     }
//   }

//   h3{
//     float: left;
//   }
// }

// .accordion-content{
//   background-color: $content-gradient-end;
//   background-image: none;
//   border-color: #333;
// }

.accordion-header{
  position: relative;
  background-color: $header-hover-gradient-end;
  @include background-image(linear-gradient($header-hover-gradient-start, $header-hover-gradient-end));
  color: $dark-on-light;

  &.ui-state-active, &.ui-state-hover, &.ui-state-focus{
    background-color: $content-gradient-end;
    @include background-image(linear-gradient($content-gradient-start, $content-gradient-end));
  }

  &.ui-state-active{
    border-bottom-style: none;
  }

  //&.ui-state-hover, &.ui-state-focus{
  //  &:not(.ui-state-active){
  //    background-color: $header-hover-gradient-end;
  //    @include background-image(linear-gradient($header-hover-gradient-start, $header-hover-gradient-end));
  //  }
  //}

  h3{
    float: left;
  }

  &.account-disabled{
    background-image: none;
    background-color: $disabled-grey;

    .bad, .error, .good, .success, .neutral{
      color: $disabled-text;
    }
  }
}

.accordion-content{
  background-color: $content-gradient-end;
  background-image: none;
  border-color: #333;
}

.header-notice{
  position: absolute;
  right: 200px;
  background-color: $accordion-notice-color;
  padding: 4px 8px;
  top: 2px;
  border-radius: 3px;
}

.box{
  display: block;
  border-width: 1px;
  border-style: solid;
  @include border-radius(4px);
  padding: 2px 4px;
  margin-bottom: 8px;
}

.box-container{
  padding: 5px 20px;
}

.box-tan{
  border-color: #666666;
  background-color: $description-background;
  @include box-shadow(4px 4px 5px $description-background);
}

.box-brown{
  border-color: #cccccc;
  background-color: $property-background;
  @include box-shadow(4px 4px 5px $property-background);
}

.box-green{
  border-color: #aadfd8;
  background-color: $property-value-background;
  @include box-shadow(4px 4px 5px $property-value-background);
}

.box-tan-gradient{
  border: 1px solid #d4ccb0;
  background-color: $description-background;
  @include background-image(linear-gradient(top, #fcfcfa, #fafbf4 40px, $description-background));
}

.box-no-shadow{
  @include box-shadow(none);
}

.box-header{
  @include clearfix;
  background-color: #ddd;
  margin-bottom: 3px;
  @include border-top-radius(3px);
  font-weight: bold;
}

.box-header, .box-content{
  padding: 4px;
}

dl.properties{
  @include clearfix;

  dt, dd{
    float: left;
    width: 138px;
    margin-bottom: 7px;
    display: block;
  }

  dt{
    position: relative;
    margin-right: 12px;
    @extend .box;
    @extend .box-brown;

    &:after{
      content: "\00bb";
      display: block;
      position: absolute;
      top: 1px;
      left: 150px;
    }
  }

  dd{
    @extend .box;
    @extend .box-green;
  }
}
