$old-size: $base-font-size;
$base-font-size: $xxl-font-size;

.ui-state-default{
  background-color: $header-hover-gradient-end;
  @include background-image(linear-gradient($header-hover-gradient-start, $header-hover-gradient-end));
  color: $dark-on-light;

  .ui-icon{
    background-image: image_url("ui-icons_222222_256x240.png");
  }
}

.ui-state-active, .ui-state-hover, .ui-state-focus{
  background-color: $content-gradient-end;
  @include background-image(linear-gradient($content-gradient-start, $content-gradient-end));
}

.ui-state-active{
  border-bottom-style: none;
}

.accordion-header{
  position: relative;



  &.account-disabled{
    background-image: none;
    background-color: $disabled-grey;

    .bad, .error, .good, .success, .neutral{
      color: $disabled-text;
    }
  }
}

.ui-widget-content{
  background-color: $content-gradient-end;
  background-image: none;
  border-color: #333;
}

.header-notice{
  background-color: $accordion-notice-color;
  padding: em(4px) em(8px);
  margin-right: em(15px);
  margin-top: em(-4px);
  border-radius: em(3px);
  float: left;
}

.box{
  display: block;
  border-width: 1px;
  border-style: solid;
  @include border-radius(4px);
  padding: em(2px) em(4px);
  margin-bottom: em(8px);
  float: left;
  width: 100%;
}

.box-fit{
  width: auto;
}

.box-red{
  border-color: #ffb7b7;
  background-color: #CC3333;
  color: #FFF2F2;
  font-weight: bold;
  @include box-shadow(2px 2px 3px #ECB7B7);
}

.box-tan{
  border-color: #666666;
  background-color: $description-background;
  @include box-shadow(4px 4px 5px $description-background + #000022);
}

.box-brown{
  border-color: #cccccc;
  background-color: $property-background;
  @include box-shadow(4px 4px 5px $property-background + #000022);
}

.box-green{
  border-color: #aadfd8;
  background-color: $property-value-background;
  @include box-shadow(4px 4px 5px $property-value-background + #000022);
}

.box-tan-gradient{
  border: 1px solid #d4ccb0;
  background-color: $description-background;
  @include background-image(linear-gradient(top, #fcfcfa, #fafbf4 40px, $description-background));
}

.box-grey{
  background-color: $content-gradient-end;
}

.box-no-shadow{
  @include box-shadow(none);
}

.box-header{
  @include clearfix;
  background-color: #ddd;
  margin-bottom: 3px;
  @include border-top-radius(3px);
  font-weight: bold;
}

.box-content{
  padding: em(10px) em(15px);
  overflow: hidden;
}

.text-red{
  color: #ff0000;

  &:hover, &:focus{
    color: #ff0000;
  }
}

//.box-header, .box-content{
//  padding: 4px;
//}

dl.properties{
  @include clearfix;

  dt, dd{
    margin-bottom: em(7px);
  }

  dt{
    @include span(4 of 8 3/4);
    position: relative;
    clear: both;

    &::after{
      content: "\00bb";
      display: block;
      position: absolute;
      top: 1px;
      left: 100% + gutter(4 3/16);
    }
  }

  dd{
    @include span(last 4 of 8 3/4);
  }
}

ul.tabs{
  width: 100%;
  float: left;
  margin-bottom: em(9px);
  li{
    float: left;
    text-align: center;
    font-size: em(16px);
    min-width: em(90px);

    a{
      display: block;
      padding: em(5px) em(10px);
      margin: em(5px) em(6px) 3px em(0px);
      border: solid #999999 1px;
      @include border-top-radius(em(6px));
      @include background-image(linear-gradient($header-hover-gradient-start, $header-hover-gradient-end));
    }

    &.tab-active a{
      border-bottom: none;
      position: relative;

      &:after{
        position: absolute;
        top: 100%;
        left: -1px;
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: $header-hover-gradient-end;
        border-left: 1px #999999 solid;
        border-right: 1px #999999 solid;
        // Doesn't line up with the tab's border unless I
        // break it out of the border-box model so that it's size
        // no longer includes the 1px borders, making it those 2px larger that
        // it needs.
        box-sizing: content-box;
      }
    }

    &:not(.tab-active) a:hover{
      @include background-image(linear-gradient($content-gradient-start, $content-gradient-end));
    }

    &:first-child{
      margin-left: em(8px);
    }
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  &:after{
    content: '';
    display: block;
    width: 100%;
    height: em(15px);
    border-top: #999999 1px solid;
    float: left;
    @include border-top-radius(em(8px));
    @include background-image(linear-gradient($header-hover-gradient-end, $content-gradient-end));
  }
}

ul.boxed-list{
  width: 100%;
  float: left;
  padding: 0 em(12px);

  li{
    margin-top: em(8px);
    padding: em(6px) em(8px);

    &:first-child{
      margin-top: 0;
    }
  }
}

table{
  width: 100%;
}
th{
  font-weight: bold;
  border-bottom: 1px solid black;
}
th, td{
  padding: em(3px) em(6px);

  &.cell-collapse{
    width: 0;
    padding-right: 0;
  }
}

.ui-datepicker{
  th, td{
    width: auto;

  }
}
td{
  border-bottom: 1px dotted black;
}
tr:last-child td{
  border-bottom: none;
}
tr.highlight{
  border: green 2px solid;
}

$base-font-size: $old-size;
