$old-size: $base-font-size;
$base-font-size: $xxl-font-size;

.fields{
  li{
    @include span(last 100%);
    margin-bottom: em(5px);
  }

  label{
    padding: em(3px) em(0px);
    @include span(5 of 15);
    text-align: right;
  }

  input[type=text], textarea{
    @include span(5 of 15);
    &.field-small{
      @include span(2 of 15);
    }
    font-size: 1em;
  }

  input[type=text]{
    padding-left: 0.2em;
  }

  input[type=checkbox], input[type=radio], select{
    float: left;
  }

  input[type=text], select, .field-prepend{
    height: em(25px);
  }

  select{
    font-size: 1em;
  }

  textarea{
    height: em(60px);
  }

  .field-prepend{
    border: #B0B0B0 1px solid;
    padding: 0.15em 0.5em;
    float: left;
    margin-right: -3px;
    background-color: $gray-overlay;
  }

  .form-error{
    background-color: #ffab9e; // Old browsers
    @include background-image(linear-gradient(top, #ffab9e 0%, #f23c00 44%, #ce0000 100%));
    padding: em(3px) em(6px);
    color: white;
    font-weight: bold;
    font-size: em(13px);
    @include border-radius(em(4px));
    float: left;
    cursor: default;
    margin-top: em(2px);
  }
}

.fields-small{
  label{
    @include span(3 of 7);
  }

  input[type=text], textarea{
    @include span(last 4 of 7);
    margin-right: 0px;
  }

  .form-error{
    @include break;
    float: right;
    margin-bottom: em(5px);
  }
}
$base-font-size: $old-size;
