.fields{
  @include clearfix;

  li{
    @include clearfix;
    width: 100%;
    margin-bottom: 5px;
  }

  label{
    padding: 3px 0px;
    @include column(4);
    text-align: right;
  }

  input[type=text], textarea{
    @include column(5);
    &.field-small{
      @include column(2);
    }
  }

  textarea{
    height: 60px;
  }

  .form-error{
    background-color: #ffab9e; // Old browsers
    @include background-image(linear-gradient(top, #ffab9e 0%,#f23c00 44%,#ce0000 100%));
    padding: 3px 6px;
    color: white;
    font-weight: bold;
    font-size: pxtoem(13);
    @include border-radius(4px);
    float: left;
    cursor: default;
  }
}

.fields-small{
  li{
    @include column(6, true);
  }

  label{
    @include column(3);
  }

  input[type=text], textarea{
    @include column(2.8, true);
  }
}

.fields{
  list-style-type: none;
}
