$old-size: $base-font-size;
$base-font-size: 14px;
.fields{
  li{
    @include span(last 100%);
    margin-bottom: em(5px);
  }

  label{
    padding: em(3px) em(0px);
    @include span(6 of 15);
    text-align: right;
  }

  input[type=text], textarea{
    @include span(5 of 15);
    &.field-small{
      @include span(2 of 15);
    }
  }

  input[type=checkbox], input[type=radio], select{
    float: left;
  }

  textarea{
    height: em(60px);
  }

  .form-error{
    background-color: #ffab9e; // Old browsers
    @include background-image(linear-gradient(top, #ffab9e 0%, #f23c00 44%, #ce0000 100%));
    padding: em(3px) em(6px);
    color: white;
    font-weight: bold;
    font-size: em(13px);
    @include border-radius(em(4px));
    float: left;
    cursor: default;
    margin-top: em(2px);
  }
}

.fields-small{
  label{
    @include span(3 of 7);
  }

  input[type=text], textarea{
    @include span(last 4 of 7);
    margin-right: 0px;
  }

  .form-error{
    @include break;
    float: right;
    margin-bottom: em(5px);
  }
}
$base-font-size: $old-size;


//.fields{
//  @include clearfix;
//
//  li{
//    @include clearfix;
//    width: 100%;
//    margin-bottom: 5px;
//  }
//
//  label{
//    padding: 3px 0px;
//    @include span(4);
//    text-align: right;
//  }
//
//  input[type=text], textarea{
//    @include span(5);
//    &.field-small{
//      @include span(2);
//    }
//  }
//
//  input[type=checkbox], input[type=radio], select{
//    float: left
//  }
//
//  textarea{
//    height: 60px;
//  }
//
//  .form-error{
//    background-color: #ffab9e; // Old browsers
//    @include background-image(linear-gradient(top, #ffab9e 0%,#f23c00 44%,#ce0000 100%));
//    padding: 3px 6px;
//    color: white;
//    font-weight: bold;
//    font-size: pxtoem(13);
//    @include border-radius(4px);
//    float: left;
//    cursor: default;
//  }
//}
//
//.fields-small{
//  li{
//    @include span(last 6);
//  }
//
//  label{
//    @include span(3);
//  }
//
//  input[type=text], textarea{
//    @include span(last 2.8);
//  }
//
//  .form-error{
//    clear: left;
//    float: right;
//    margin-bottom: 5px;
//  }
//}
//
//.fields{
//  list-style-type: none;
//}
//
