.cols{
  overflow: hidden;
}
@include with-layout($app-xxl){
  .container{
    @include container();
    font-size: em(14px);
  }
  header, footer{
    @include span(full);
  }

  .content{
    @include span(15);
    padding-left: 2.5%;
  }

  .sidebar{
    @include span(last 9);
    overflow: hidden;
    padding-right: 2.5%;
  }

  .sidebar-container{
    @include span(full);
  }

  .slide-container{
    width: 210%;

    .sidebar-container{
      width: 47.5%;

      &:first-child{
        margin-right: 5%;
      }
    }
  }

  // inside .content
  @include nested(15){
    .accordion-content{
      @include span(full);
      @include pad(1);
    }

    .accordion-header{
      @include span(full);
    }

    .inner-left-col{
      @include span(8);
    }

    .inner-right-col{
      @include span(last 7);
    }

  }

  // inside .sidebar
  @include nested(3){
    .col-one-third{
      @include span(1);
      margin-right: 0;

      &:first-child{
        margin-right: gutter(3);
      }

      &:last-child{
        @include span(last 1.1);
      }
    }
  }
}

@include susy-breakpoint($bp-app-xl, $app-xl){
  .container{
    font-size: em(12px);
  }

  .fields{
    input[type=text], textarea{
      @include span(6 of 15);
    }
  }
}

@include susy-breakpoint($bp-app-large, $app-large){
  .container{
    @include container();
  }

  ul.tabs li{
    min-width: em(56px, 12px);
  }

  .fields {
    input[type=text], textarea{
      @include span(7 of 15);
    }
  }
}

@include susy-breakpoint($bp-app-medium-large, $app-medium-large){
  .container{
    font-size: em(11px);
  }

  ul.tabs li{
    min-width: em(50px, 11px);

    a{
      padding: em(3px, 11px) em(6px, 11px);
    }
  }

  .bp-break-medium-large{
    display: block;
  }

  .fields{
    input[type=text], textarea{
      @include span(8 of 15);
    }
  }
}


// super-mobile view begins here (drops sidebar, makes it a nav tab)
@include susy-breakpoint($bp-app-medium, $app-medium){
  .container{
    @include container();
    font-size: em(12px);
  }

  .content{
    @include span(full);
    padding-right: 2.5%;
  }

  .sidebar{
    @include span(full);
    padding-left: 2.5%;
    display: none;
  }

  .sidebar-tab{
    display: block;
  }

  .bp-break-medium-large{
    display: inline;
  }

  .mobile-visible{
    display: block;
  }

  .mobile-hide{
    display: none;
  }

  .fields{
    input[type=text], textarea{
      @include span(9 of 15);
    }

    .form-error{
      float: right;
      @include post(1 of 15);
      margin-bottom: em(5px);
    }

    .field-small + .form-error{
      clear: none;
      float: left;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .fields-small{
    label{
      @include pre(2 of 7);
      @include span(last 5 of 7);
      text-align: left;
    }

    input[type=text], textarea{
      @include pre(2 of 7);
      @include span(last 5 of 7);
    }
  }

  .btn{
    font-size: em(11px, 12px);
    padding-left: em(11px, 12px);
    padding-right: em(11px, 12px);
  }
}

@include susy-breakpoint($bp-app-small, $app-small){
  .container{
    font-size: em(11px);
    min-width: em(300px, 11px);
  }

  .fields-small{
    label{
      @include pre(1 of 7);
      @include span(last 6 of 7);
    }

    input[type=text], textarea{
      @include pre(1 of 7);
      @include span(last 6 of 7);
    }
  }

  .btn{
    font-size: em(9px, 11px);
    padding-left: em(8px, 11px);
    padding-right: em(8px, 11px);
  }
}
