.sidebar-container{style: 'display: none;'}
  %h1
    .float-left= quick_fund.name_with_type
    .float-right{class: quick_fund.amount_class}= quick_fund.display_amount

  .nav-back.float-left= account.name
