.accordion-header
  %h3 New Account
.accordion-content
  = form_for account, format: 'json', remote: true, html: {class: 'js-update-account'} do |f|
    %ul.fields
      = render partial: 'accounts/form', locals: {f: f}
      %li
        %label
        = f.submit "Save Account", class: 'btn btn-green'