.content
  .js-account-accordion
    = render partial: 'accounts/new_account', locals: {account: @account}

    = render partial: 'accounts/account', collection: accounts

.sidebar.hide.tablet-hide
  .js-sidebar-content.box
