.container
  .content
    .js-account-accordion
      = render partial: 'accounts/new_account', locals: {account: @account}

      = render partial: 'accounts/account', collection: accounts

  .sidebar.box{style: 'display: none;'}
